{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
   <p>{{ contact.prenom }} {{ contact.nom }}</p>

   {% if contact.societe %}
   <p>Société : {{ contact.societe.nom }}</p>
   {% endif %}
{% endblock %}
